html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
}

.activeRequest {
  position: absolute;
  background: teal;
  margin: 0.5rem;
  width: 100%;
}

aside {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

aside ul {
  list-style-type: none;
}
