html, body {
  width: 100%;
  margin: 0;

  font-family: 'Gothic A1';
}

svg {
  width: 100%;
}

.activeRequest {
  position: fixed;
  background: #ddd;
  border: 1px solid #bbb;
  margin: 0.5rem;
  max-width: 20rem;
  padding: 1rem;
}

.activeRequest.bottom {
  bottom: 0;
}

.activeRequest h4 {
  margin-top: 0;
}

aside {
  position: fixed;
  top: 0;
  right: 0;

  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;

  background: rgba(255, 255, 255, 0.2);
}

aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul:first-child {
  padding-right: 1rem;
}

.count {
  font-size: 50%;
}

.category-swatch {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.category-1 {
  fill: #003f5c;
  background-color: #003f5c;
}

.category-2 {
  fill: #444e86;
  background-color: #444e86;
}

.category-3 {
  fill: #955196;
  background-color: #955196;
}

.category-4 {
  fill: #dd5182;
  background-color: #dd5182;
}

.category-5 {
  fill: #ff6e54;
  background-color: #ff6e54;
}

.category-6 {
  fill: #ffa600;
  background-color: #ffa600;
}

.tick-label {
  position: fixed;
}

line.grid {
  position: fixed;
  stroke-width: 1px;
  stroke: #ccc;
}
